.App {
    text-align: center;
  }
.amt{
  font-weight: bold;
  font-size: 30px;
}
.currency{
  color: blueviolet;
  font-weight: bold;
  font-size: 30px;
}
.month{
  color: rgba(199, 98, 98, 0.678);
  font-weight: bold;
  font-size: 30px;
}
.desc{
  color: rgb(217, 164, 9);
  font-weight: bold;
  font-size: 18px;
}

.features{
  font-weight: bold;
  font-family: cursive;
}
.plan-caption{
  font-weight: bold;
  font-family: cursive;
}